
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    background-size: 270px;
}

.container{
    margin: 20px 20% 20px 20%;
    border: 2px solid #989696;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

.profile-image{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 35% 0 35% ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

.profile-image img{
    height: auto;
    width: 100%;
}

.title{
    text-align: center;
    margin: 20px;
}

.bio{
    margin: 25px;
}

ul {
    padding: 10px;
    padding-left: 20px;
}

p{
    padding-left: 10px;
}

.footer{
    text-align: center;
}